@charset "utf-8";
/* 여백 초기화 */

body,div,ul,li,dl,dt,ol,h1,h2,h3,h4,h5,h6,input,fieldset,legend,p,select,table,th,td,tr,textarea,button,form, figure, figcaption {margin: 0; padding: 0;}

a {text-decoration: none; color: #fff; }

.clearfix::after, .clearfix::before {content: ""; display: block; clear: both;}

/* 폰트 초기화 */
body, input, textarea, select, button, table {
    font-family:'Nanum Gothic', sans-serif;
    font-size: 15px; line-height: 1.5;
}

/* 블릿기호 초기화 */
dl,li,ul,ol,menu {list-style: none;}

/* 이미지 슬라이드 */
img {width: 100%;}

/* 버튼 초기화*/
button {border: 0; outline: none;}

/* IR 효과 */
    
.ir_pm {display: block; overflow: hidden; font-size: 0; line-height: 0; 
        text-indent: -9999px;} /* 의미있는 이미지의 대체 텍스트를 제공하는 경우 */
.ir_wa {display: block; overflow: hidden; position: relative; z-index: -1; width: 100%; 
        height: 100%;} /* 의미있는 이미지의 대체 텍스트로 이미지가 없어도 대체 텍스트를 보여주고자 할 때 */
.ir_su {overflow: hidden; position: absolute; width: 0; height: 0; line-height: 0; 
        text-indent: -9999px;} /* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */

/* margin, padding */
.mt10 {margin-top: 10px !important;}
.mt15 {margin-top: 15px !important;}
.mt20 {margin-top: 20px !important;}
.mt25 {margin-top: 25px !important;}
.mt30 {margin-top: 30px !important;}
.mt35 {margin-top: 35px !important;}
.mt40 {margin-top: 40px !important;}
.mt45 {margin-top: 45px !important;}
.mt50 {margin-top: 50px !important;}

/* mobile/web : none/block */
.onM { display: none; }
.onW { display: block; }

@media (max-width:500px) {
.onM { display: block; }
.onW { display: none; }
}




/* :::::::::::::::::::::::::::::::: reset_v2.css */
/* :::::::::::::::::::::::::::::::: reset_v2.css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0; padding:0; box-sizing:border-box;/*vertical-align:baseline;*/}

/* body, th, td, input, select, textarea, button{font-size: 15px; line-height: 1;font-family: 'LG Smart', '돋움', Dotum, Arial, Verdana, sans-serif; color: #282828; font-weight: 400} */

body, html {position: relative;width: 100%;height:100%;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}

body{-webkit-text-size-adjust: none;}
/* h1, h2, h3, h4, h5, h6{font-size: 100%; font-weight: 400} */
ol, ul, li ,dl, dt, dd{list-style:none outside none; padding:0; margin:0;}
hr{display:none;}
span{margin:0; padding:0; outline:0;}
fieldset, img, table, caption, tbody, tfoot, thead, tr, th, td, button, hr{border:0;}
address, caption, cite, code, dfn, em, strong, th, var{font-style: normal;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content: ''; content: none;}
table{table-layout: fixed;border-collapse:collapse; border-spacing:0;width:100%;}
img{width: 100%;vertical-align:middle;}
a{text-decoration:none; cursor:pointer;}
a:active, a:hover{text-decoration: none;}
/* input, select, label{vertical-align:middle} */
b, strong{font-weight: 400;}


#skipNavigation{display:none;}

/* .your-unique-class */
.your-unique-class {overflow: hidden;}
.your-unique-class img {width: 100%; vertical-align: middle;}