/* mediaquery */

@media only screen and (max-width : 980px){
    /* portfolio2 */
    .cont1-warp .text p {font-size: 110px;}
    main .title {width: 92%;}
}


@media only screen and (max-width : 730px){
    /* portfolio2 */
    .cont1-warp .text p {font-size: 90px;}
    .cont1-warp .text span {font-size: 12px;}
    .lightbox a {
        width: 90%; 
        margin-left: 5%;
        margin-right: 5%;
    }
    .lightbox a:nth-child(2n+1) {margin-left: 5%;}
    #intro p {white-space:normal;}
}


@media only screen and (max-width : 550px){
    /* portfolio2 */
    #wrap2 {height: 150%;}
    main .title h1 {
        font-size: 65px;
        line-height: 1.2;
        margin-bottom: 10px;
    }
    .cont1-warp .text p {font-size: 75px;}
    .cont1-warp .text span {font-size: 12px;}
    .fix-img h3 {font-size: 2rem;}
    
    #history .his .his-tit {
        width: 34%;
        font-size: 1rem;
    }
    #history .his .his-desc {
        width: 65%;
        font-size: 1rem;
    }
}


@media only screen and (max-width : 440px){
    /* portfolio2 */
    main .nav {height: 42%;}
    
    .cont1-warp .text p {font-size: 60px;}
    .cont1-warp .text span {font-size: 11px;}
    .web figure {
        width: 100%;
        margin-right:0%;
    }
    .web figcaption {
        width: 100%;
        margin-top: 50px;
    }
    #cont1 .three span {
        font-size: 1.4rem;
        line-height: 2.1;
    }
}
@media only screen and (max-width : 380px) {
    /* portfolio2 */
    main .title h1 {font-size: 55px;}
    
    
    
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    