@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Raleway:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Raleway:wght@200&display=swap');

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
                      
body {}

/* #wrap2 */
#wrap2 {
    position: relative; 
    width: 100%; height: 100%;
}

/* main */
main {
    position: relative; 
    width: 100%; height: 100%;
    background-color: #b495b1}

/* .nav */
main .nav {
    position: absolute; 
    top:5%; right: 3%;
    width: 350px; height: auto; 
}

main .nav ul {
    float: left; 
    margin-right: 30px;
}
main .nav li {}
main .nav li a {
    display: block; 
    color: rgba(255,255,255,0.5);
    font-size: 20px; line-height: 35px;
    font-family: 'Raleway', sans-serif; 
    font-weight: 200;
}
main .nav li:hover a {color: #fff;}

main .nav span {
    position: relative; top:-5px;;
    display: block; 
    float: right;
    width: 150px;
    text-align: right; 
}
main .nav span a {
    color: #fff;
    font-family: 'Raleway', sans-serif; 
    font-weight: bold;
    font-size: 28px;
}
main .nav span a:hover {opacity: 0.8;}


/* .title */
main .title {
    position: relative; 
    top:38%; left: 3.3%;
    width: 80%; 
    text-align: left;
    color: #fff; 
}
main .title h1 {
    font-family: 'Raleway', sans-serif; 
    font-weight: 200;
    font-size: 74px; 
    text-transform: uppercase;
    line-height: 100px; 
}
main .title h2 {
    font-size: 30px; color: pink;
    padding-left: 5px;
    font-family: 'NEXON Lv1 Gothic OTF Light';
}
main .title p {
    font-size: 1em; line-height: 2.2;
    padding-left: 5px; padding-top: 70px; 
}
main .title span {
    display: block; 
    position: relative; top:50px;
    font-family: 'Raleway', sans-serif; 
    font-weight: 500;
    font-size: 1em; 
    line-height: 2.2;
    padding-left: 5px; 
}

/* .margin_wrap 가운데정렬 */
.margin_wrap{
    width: 82%;
    margin: 0 auto;
}
/* .back 어둡게 */
.back{background:rgba(0,0,0,0.3);}


/* #cont1 */
section#cont1 {
    position: relative; 
    width: 100%; height: auto;
    background-color: #fff;
}

/* #cont1 */
#cont1 {width: 100%;}
#cont1 .three {
    height: 170px;
    padding-top: 130px ;
    margin-bottom: 100px;
    
}
#cont1 .three span:before {
    content: '';
    width: 150px;
    height: 2px;
    background-color: pink;
    position: absolute;
    top:-23px;left: 50%;
    transform: translateX(-50%);
}
#cont1 .three span {
    position: relative;
    display: block;
    text-align: center;
    font-size: 1.7rem;
    color: #b495b1;
    line-height: 2.1;
}
#cont1 .three span small {
    display: block;
    font-size: 1.2rem;
}

/* #intro */
.intro-wrap {
     background: #eee;
}
#intro {
    padding: 80px 0 0px 0;
    text-align: center;
    position: relative;
    z-index: 1;
}
#intro:after {
    content: 'Good job!';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 9rem; font-weight: bold;
    margin-top: -10px;
    color: #e7e7e7;
    z-index: -1;
}
#intro h3 {
    color: #b495b1;
    margin-bottom: 10px;
    font-size: 1.6rem;
    text-transform: uppercase;
}
#intro p {
    color: #878787;
    font-size: 0.9rem;
    line-height: 2.7;
    width: 100%;
    white-space:pre-wrap;
/*    background: #ccc;*/
}

/*
#intro span {
    display: block;
    font-size: 1.3rem;
    margin-top: -10px;
    color: #cfcfcf;
}
*/

/* #history */
#history {
    width: 100%;
    margin-top: 77px;
}
#history .his {
    padding: 40px 0;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
#history .his .his-tit {
    float: left; 
    width: 35%;
    font-size: 1.3rem;
    font-weight: bold;
    color: #505050;
}
#history .his .his-desc {
    float: left;
    width: 60%;
    font-size: 1.07rem;
    line-height: 2.2;
    color: #878787;
}

.his-desc .hisp {
       margin-bottom: 20px;
}
.his-desc .hisp small {
    display: inline-block;
    padding-left: 8px;
    color: #b8b8b8;
}
.his-desc .hisp em {
    display: block;
    font-style: normal;
    font-size: .95rem;
    color: #b8b8b8;
}


/* footer */
footer {
    position: relative;
    left: 0; top:0;
    width: 100%; 
    background-color: #878787;
    text-align: center;
    color: #fff;
    font-family: 'Raleway', sans-serif; 
    padding: 40px 0;
    text-transform: uppercase;
}
footer strong {
    display: block;
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 3px;
}
footer span {
    font-weight: 200;
    font-size: 0.8em; 
}