@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Raleway:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Raleway:wght@200&display=swap');

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
                      

/* #wrap2 */
#wrap2 {
    position: relative; 
    width: 100%; height: 100%;
}

/* main */
main {
    position: relative; 
    width: 100%; height: 100%;
    background-color: #0693dd;}

/* .nav */
main .nav.none {display: none;}
main .nav {
    position: absolute; 
    top:5%; right: 3%;
    width: 350px; height: 30%; 
    color: #fff;
    font-family: 'Raleway', sans-serif; 
    font-weight: 500;
    transition:all 0.3s;
}
main .nav ul {
    float: left; 
    margin-right: 30px;
}
main .nav li {}
main .nav li a {
    display: block; 
    color: rgba(255,255,255,0.5);
    font-size: 20px; line-height: 35px;
    font-family: 'Raleway', sans-serif; 
    font-weight: 200;
}
main .nav li:hover a {color: #fff;}

main .nav span {
    position: relative; top:-5px;;
    display: block; 
    float: right;
    width: 150px;
    text-align: right; 
}
main .nav span a {
    color: #fff;
    font-family: 'Raleway', sans-serif; 
    font-weight: bold;
    font-size: 28px;
}
main .nav span a:hover {opacity: 0.8;}

/* nav2 */
main .nav2.show {display: block;transition:all 0.3s;}
main .nav2 {
    display: none;
    position: fixed; top: 0;
    width: 100%; height: 65px;
    background-color:#fff;
    color:#333;
    font-family: 'Raleway', sans-serif; 
    font-weight: 500;
    z-index: 20;
    transition:all 0.3s;
}
.nav2 ul {
    width: 60%;
    margin-left: 30px;
}
.nav2 li {
    display: inline-block;
    width: 23%;
    
}
.nav2 li a {
    display: block; 
    width: 100%; 
    padding: 0px 10px;
    line-height: 60px;
    color:#444;
}
.nav2 span {
    display: block;
    position: absolute; top: 0; right: 22px;
    z-index: 22;
}
.nav2 span a {
    display: block;
    line-height: 65px;
    color:#fff;
    text-shadow: 1px 1px 1px #ccc; 
    font-weight: bold; font-size: 22px;
    transition:text-shadow 0.3s; 
}
.nav2 span a:hover {text-shadow: 1px 1px 1px rgb(128, 128, 128);}

/* .title */
main .title {
    position: absolute; 
    top:30%; left: 3.3%;
    width: 90%; height: 70%;
    text-align: left;
    color: #fff;
    padding-top: 7%;
    box-sizing: border-box;
}
main .title h1 {
    font-family: 'Raleway', sans-serif; 
    font-weight: 200;
    font-size: 74px; 
    line-height: 1;
    margin-bottom: 10px;
    text-transform: uppercase;
}
main .title h2 {
    font-size: 30px; color: pink;
    padding-left: 5px;
    font-family: 'NEXON Lv1 Gothic OTF Light';
}
main .title p {
    font-size: 1rem; 
    line-height: 2.2;
    padding-left: 5px; 
    padding-top: 65px; 
}
main .title span {
    display: block; 
    position: relative; top:50px;
    font-family: 'Raleway', sans-serif; 
    font-weight: 500;
    font-size: 1rem; 
    padding-left: 5px; 
}

/* .margin_wrap 가운데정렬 */
.margin_wrap{
    width: 82%;
    margin: 0 auto;
    position: relative;
}
/* .back 어둡게 */
.back{background:rgba(0,0,0,0.4);}


/* #cont1 */
section#cont1 {
    width: 100%; height: auto;
    background-color: #fff;
}
#cont1 .cont1-warp {}
.cont1-warp {
    margin-top: 100px;
}
.cont1-warp .text {
    width: 100%; height: 150px; 
    position: relative;
    text-align: center; 
}
.cont1-warp .text p {
    font-size: 150px; line-height: 150px; 
    color: #f2f2f2;
    font-family: 'NEXON Lv1 Gothic OTF Light';
}
.cont1-warp .text span {
    display: block;
    width: 100%;  
    position: absolute; 
    left: 50%; top:50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    font-size: 15px; line-height: 70px;
    color: #828080;
}

.line {
    background: #eee;
    width: 85%;
    margin: 0 auto;
    margin-top: 77px;
    opacity: 0.2;
}

.work_t {
    width: 100%;
    color: pink; 
    font-size: 1.97rem;
    font-weight: bold; 
    text-align: center;
    margin-top: 77px;
}
/* .fix-img */
.fix-img02 {
    width: 100%; height: 350px;
    background-image: url(../img/book1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    margin-top: 77px;
    background-attachment: fixed;
}
.fix-img02 div{
    width: 100%;height: 100%;
}
.fix-img02 h3 {
    font-size: 2.5rem;
    line-height: 367px;
    font-weight: 100;
    font-family: 'NEXON Lv1 Gothic OTF Light'; 
    text-align: center;
    color: rgba(255,255,255,0.8);
    text-shadow: 1px 1px 0px #5c4915;
}

/* #cont2 */
#cont2 {
    position: relative;
    padding-top: 130px;
    background: #eee;
}
/* .lightbox */
.lightbox {}
.lightbox a {
    display: block; 
    position: relative; 
    float: left; 
    width: 47.3%; 
    margin-left: 5%; margin-bottom: 8%;
    overflow: hidden;
    box-shadow: 2px 2px 8px #bfbfbf;
    text-align: left;
}
.lightbox a:before {
    content: '';
    display: block; 
    position: absolute; 
    top:0px; left: 0px;
    width: 100%; height: 100%;
    background-color: rgb(6, 147, 221); /*blue*/
    z-index: 20;
    transition: all 0.2s ease;
    opacity: 0;
}

.lightbox a:hover:before {
    opacity: 0.85;
}
.lightbox a:nth-child(2n+1) {margin-left: 0;}
.lightbox a img {display: block;width: 100%;}

.lightbox a em, .lightbox a span {
    display: block; left: 0;
    position: absolute; left: 25px; 
    width: 100%; 
    font-family: 'Raleway', sans-serif; 
    z-index: 30;
    transition: all 0.3s;
    opacity: 0;
}
.lightbox a em {
    top: 28px;
    font-size: 20px;font-weight: 500;
    transform: translateY(-100%);
}
.lightbox a span {
    top: 58px;
    font-size: 13px; font-weight: 200; 
    transform: translateY(100%);
    transition-delay: 0.1s;
}
.lightbox a:hover em, 
.lightbox a:hover span {
    opacity: 1; 
    transform: translateY(0);
}

/* 패럴럭스 */
.lightbox a {
    transition: all 0.5s ease-in-out;
}
.lightbox a {opacity: 0; transform: translate(0,-20%);}
.lightbox a.show {opacity: 1; transform: none;}

/* footer */
footer {
    position: relative;
    left: 0; top:0;
    width: 100%; 
    background-color: #878787;
    text-align: center;
    color: #fff;
    font-family: 'Raleway', sans-serif; 
    padding: 40px 0;
    text-transform: uppercase;
}
footer strong {
    display: block;
    font-weight: 500;
    font-size: 1.1em;
    /* margin-bottom: 3px; */
}
footer span {
    font-weight: 200;
    font-size: 0.7em; 
}



































