@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;padding: 0;
    background-color: #f0f1f4;
    font-family: 'Noto Sans KR', sans-serif;
    
}

/* 4개 사진들 */
#flexbox {
    width: 100%; 
    display: flex;
    justify-content: center;
    letter-spacing: -1px; 
}
.flexbox-item {
    width: 300px; height: 410px; 
    text-align: center;
    font-size: 1.3em;
    line-height: 1.7em;
    border-left: 1px solid rgba(0,0,0,0.0); 
}
.flexbox-item:last-child{
    border-right: 1px solid rgba(0,0,0,0.0);
}
.flexbox-item .p3 {
    font-size: 1.04em;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 500;
}
.flexbox-item .p4{
    margin-top: 10px;
    font-size: 0.8em;
    line-height: 1.8em;
    font-weight: 400;
}
.flexbox-item {
    color: #fff;
    text-shadow: 1px 1px 2px #474747;
}

.img_back1 {
    background: url("../images/img_back01.jpg");
    background-repeat: no-repeat; opacity: 0.7;
    background-size:100% 100%; 
}
.img_back2 {
    background: url("../images/img_back03.jpg");
    background-repeat: no-repeat; opacity: 0.7;
    background-size:100% 100%; 
}
.img_back3 {
    background: url("../images/img_back04.jpg");
    background-repeat: no-repeat; opacity: 0.7;
    background-size:100% 100%; 
}
.img_back4 {
    background: url("../images/img_back02.jpg");
    background-repeat: no-repeat; opacity: 0.7;
    background-size:100% 100%; }

.img_back1:hover {opacity: 1;}
.img_back2:hover {opacity: 1;}
.img_back3:hover {opacity: 1;}
.img_back4:hover {opacity: 1;}




/* 하단 4개 상자들 */
#prices_back{
    position: relative; top:10px; 
    height: 320px;
    background-color: rgba(220,231,242,0.1);
    padding: 100px 50px;
    letter-spacing: -1px; 
}
.prices {
    width: 1200px; 
    margin:0 auto;
    display: flex;
    justify-content: space-around;
}
.price-item {
    width: 320px; height: 325px; 
    border: 1px solid #666;
    border-radius: 4px;
    margin: 16px;
    text-align: center;
}
.price-item img {
    width: 120px;  
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.price-item-title {
    background: rgba(0,0,0,0.05);
    text-align: center;
    height: 55px;
    border-bottom: 1px solid #666;
}
.price-item-title span {
    display: block;
    font-size: 1.15rem; font-weight: 500;
    line-height: 58px;;
    color: #243655;
}
.price-item-sub{
    color: #243655;
    padding: 30px;
    line-height: 25px;
}
.price-item-button{
    background-color: transparent;
    color: rgba(247,132,3,1.00);
    border-color:rgba(247,132,3,1.00); 
    padding: 5px 25px;
    margin-top: 10px;
    font-size: 1.2rem; line-height: 1.5;
    border-radius: .3rem;
    transition: all 0.3s ease;
}
.price-item-button:hover {
    background-color: rgba(247,132,3,1.00); 
    color:white;
}

.footer1 { 
    position: relative; top:50px;
    background-color: #0d121b;
    text-align: center; 
    padding: 50px;
    
}
.footer1 p {
    color: #555d6d;
    font-size: 0.95rem; 
    line-height: 1.9em;
}








