@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;padding: 0;
    background-color: #f0f1f4;
    font-family: 'Noto Sans KR', sans-serif;
}
#warp {
    width: 100vw;
    position: relative;
    margin: 0 auto;
}

.center50 {
    position: absolute;
    top:50%; left: 50%;
    transform: translate(-50%, -50%);
} 

.header {
    position: relative;
    top: 0; left: 0;
    width: 100%; height:121px;
    padding-top: 20px;
    color:#737b8a; text-align: center;
    box-sizing: border-box;
}

.opacity{opacity: 0.2;}

.opa_on{color: #18212E; opacity: 1;}

/* 메뉴바 */
.nav {
    position: relative;
    width: 100vw; height:100px;
    background-color: transparent; 
    color:#737b8a;
    border-bottom: 1px solid rgba(140,138,138,0.8);
}

.nav #main_logo {
    float: left;
    margin-right: 50px;
	width: 220px; height: auto; 
	position: relative; 
    top:38px; left: 105px;
}
.nav #main_logo img{width: 100%; height: 100%;}

.ul_main {
    width: 700px; height: auto; 
    border: 0px solid cyan;
    position: relative; top:50px;
    float: right;
    margin-right: 100px;
}

.li_main {
    float: left;
    display: inline;
    list-style-type: none;
    width: 120px; height: 40px;
}
.li_main a{
    text-align: center;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    color:white; 
    font-size: 1.1em; 
    font-weight: 400;}

.li_main a:focus {
    text-decoration: none;
}

.li_main a:hover {
    text-decoration: none;
    color: #487bef;
	text-shadow: 0.7px 0.7px 1px black;
}


.ul_sub {
    list-style-type: none; 
    display: none;
    position: relative;
    top:31px;
}

.li_sub {
    height: 40px;
    padding-top: 25px;
    border-bottom: 1.3px solid #59697B;
    background-color:rgba(254,253,253,0.2);
}

/* 메인글씨 */
#sec_1 {
    position: relative;
    width: 100%;
    height: 730px;
}

#con_1 {
    position: absolute;
    top: 130px;
    left: 100px;
    padding: 0;
}
#con_1 .h1_main {
    position: relative;
    font-size: 1.4rem;  
    font-weight: 100;
    line-height: 170%;
    letter-spacing: -0.6px;
    text-align: left;
	color: #fff; 
    padding-left: 5px; 
    margin-bottom: 25px;
        display: none;
/*
    opacity: 0;
    transition: all 0.5s ease;
*/
}
#con_1 .p_main {
    position: relative;
    margin-bottom: 15px;
        display: none;
/*
    opacity: 0;
    transition: all 1s 0.5s ease;
*/
}
#con_1 .p_main img {display: block; }

.vshow {
    opacity: 1;
}


/* 모달창 */
#share-options {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -65%);
    background-color: #fff;
    text-align: center;
    padding: 15px 35px 35px 35px;
    border: 12px solid #e2e2e2;
    box-shadow: 2px 2px 10px #1c2b53;
    z-index: 400;
    display: none;
    
}
#share-options img {
    display: inline-block;
    margin: 25px auto;
}
#share-options .modal-close {
    display: block;
    position: absolute;
    bottom:5%; right: 6%;
    color: #fff;
    font-size: 0.85rem;
    border-radius: 4px;
    padding: 8px 12px 10px 12px;
    background-color: #ef9d80;
    text-transform: uppercase;
    z-index: 300;
}
#share-options .modal-close:hover {
    background-color: #ed612f;
}

.corner_menu {
    position: absolute;
    top: 0px; right: 0px;
    width: 80px; height:100px;
	margin-right: 82px;
    border-bottom: 0.5px solid rgba(140,138,138,0.15); 
    z-index: 100;
}
.corner_menu:hover {
    transform: translate(-8px, 0px);
    transition: all 0.5s ease-in-out;
}
.modal_btn:hover {background-color:rgba(167,201,230,0.3);}

.modal_btn {
    background-color:rgba(167,201,230,0.20); 
	border: none; 
    color: cadetblue; 
	padding: 50px 10px 13px;
	font-size: 0.8em;
    cursor: pointer;
}
.modal_btn img {margin-top: 10px;}

#share-options .modal_p {
    font-size: 1.5em; 
    text-align: center;
    font-weight: 500;
    color: #F08F27;
	margin-top: 15px; margin-bottom: 15px;
}
#share-options .modal_pre {
    font-size: 1.1em; 
    line-height: 1.8em;
    color:#393738; 
    text-align: center;
    padding-bottom: 15px;
	margin-top: 15px;
}

/* 3종 li */
#sec_2 {
    position: relative;
    top: 0; left: 0;
    background: yellow;
}

article.article {
    position: absolute; 
    bottom: 0px; 
    width: 100%; 
    height: 300px;
    margin: 0 auto;
    z-index: 9;
}

article .ul_warp { 
    position: absolute; 
    width: 100%; height: 300px; 
    list-style: none;
    display: flex; 
    justify-content:center;  
    align-items:flex-end;
}

.ul_warp li {
    overflow: hidden;  
    width:360px; 
    margin-right: 4px;
    padding: 22px 20px; 
    box-sizing: border-box;
    text-align: left;
}
.ul_warp .li01 {background:rgba(247,132,3,1.00);}
.ul_warp .li02 {background:rgba(222,241,6,1.00);}
.ul_warp .li03 {background:rgba(41,154,246,1.00);}

.ul_warp li:after{
    display: block; 
    content: '';
    position: absolute; 
    bottom:0; left:20; 
    width:295px; height: 4px; 
    z-index: 15;
    background-color: #fff;  
    box-sizing: border-box;
}
.ul_warp li h4 {
    font-size:1.4em; 
    line-height: 170%;
    text-indent: 85px;
    color: #fff;
}
.ul_warp .li01 h4 {
	background:url("../images/icon03.png") no-repeat;
    background-size: 45px 45px;
	background-position: 15px -6px;
}
.ul_warp .li02 h4 {
	background:url("../images/icon04.png") no-repeat;
    background-size: 45px 45px;
	background-position: 15px -1px;
}
.ul_warp .li03 h4 {
	background:url("../images/icon02.png") no-repeat;
	background-size: 49px 49px;
	background-position: 15px -5px;
}

.ul_warp .li01 p, .ul_warp .li02 p, .ul_warp .li03 p {
    text-align: left;
    line-height: 1.6rem; 
    font-size: 1.1rem; 
    text-indent: 85px; 
    color: #fff;
}

.li01 #btn_1, .li02 #btn_2, .li03 #btn_3 {
    margin:20px 0px 12px 80px; 
    border: none;
    background-color:#fff;
    padding: 10px 20px; 
    font-size: 1.1em;
    opacity: 1;
    cursor: default; 
}

.li01 #btn_1{color: rgba(247,132,3,1.00);}
.li02 #btn_2{color: rgba(222,241,6,1.00);}            
.li03 #btn_3{color: rgba(41,154,246,1.00);}



/*하단 4개 상자들*/
.aside {
    width: 100%;height: 400px;
    position: relative;
    top:0;
    background: #fff;}
    
#sec_3 {
    position:relative;
    width: 800; height: 550px; 
    margin: 0 auto;
    padding-top: 108px;
    text-align: center;
}
#sec_3 .flex_p1 {
    font-size: 3em; 
    line-height: 2.2em;
    font-weight: 600;
    text-align: center;
    color:rgba(58,59,59,0.86);
}
#sec_3 .pp02 {
    font-size: 1.2em;
    line-height: 1.7em; 
    font-weight: 300;
    margin-top: 22px;
}

#sec_3 .pp02 .p03 {
    font-size: 1.6em; 
    font-weight: 500;
    color: rgba(247,132,3,1.00); 
    margin-top: 78px;
    border-top: 1px rgba(143,143,144,1.00);
}
#sec_3 .pp02 .p04{
    font-size: 1.4em;
    line-height: 1.7em; 
    font-weight: 300;
    margin-top: 30px;
}



.back_wrap {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height:851px;
    background:url("../images/photo-1475.jpg") no-repeat;
    background-size: cover;
    background-position: center top;
    z-index: -1;
}
