@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

body {margin: 0;padding: 0;
		 background-color: #f0f1f4;
		 font-family: 'Open Sans', sans-serif;
}
#warp{
    width: 100vw;
    position: relative;
    margin: 0 auto;
}

.center50{position: absolute;
				top:50%; left: 50%;
				transform: translate(-50%, -50%);} /*완전히 center정렬!*/

.header {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height:auto;
    padding-top: 20px;
    color:#737b8a; text-align: center;
}

.opacity{opacity: 0.2;}

.opa_on{color: #18212E; opacity: 1;}

/* 메뉴바 */
.nav {
    position: relative;
    width: 100vw; height:100px;
    background-color: transparent; 
    color:#737b8a;
    border-bottom: 1px solid rgba(140,138,138,0.8);}

.nav #main_logo {float: left;margin-right: 50px;
	width: 220px; height: auto; /*border: 1px solid magenta;*/
	position: relative; top:38px;left: 105px;
}
.nav #main_logo img{width: 100%; height: 100%;}

.ul_main {width: 700px;height: auto; border: 0px solid cyan;
	            position: relative;top:50px;float: right;margin-right: 100px;}

.li_main {float: left;display: inline;list-style-type: none;
		/*border: 1px solid red;*/ 
		width: 120px;height: 40px;
}
.li_main a{text-align: center;text-decoration: none;
			font-family: 'Noto Sans KR', sans-serif;
			color:white; font-size: 1.1em; font-weight: 400;}

.li_main a:focus {
    text-decoration: none;
}

.li_main a:hover {
    text-decoration: none;
    color: #487bef;
	text-shadow: 0.7px 0.7px 1px black;
}


.ul_sub {list-style-type: none; display: none;
		position: relative;top:31px;
}

.li_sub {height: 40px;padding-top: 25px;
			border-bottom: 1.3px solid #59697B;
			background-color:rgba(254,253,253,0.2);
}

.hr {border-width:1px;color:black;opacity: 0.5;
	display: block; z-index: 30;
	width: 100%;}

/* 모달창 */
#share-options {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    background-color: #fff;
    text-align: center;
    padding: 15px 35px 35px 35px;
    border: 12px solid #e2e2e2;
    box-shadow: 2px 2px 10px #1c2b53;
    z-index: 400;
    display: none;
    
}

#share-options img {
    display: inline-block;
    margin: 30px auto;
}

#share-options .modal-close {
    display: block;
    position: absolute;
    bottom:5%; right: 8%;
    color: #fff;
    border-radius: 4px;
    padding: 8px 10px;
    background-color: #edb5a1;
    text-transform: uppercase;
    z-index: 300;
}

#share-options .modal-close:hover {
    background-color: #ed612f;
}

.corner_menu {
    position: absolute;
    top: 0px; right: 0px;
    width: 80px; height:100px;
	margin-right: 82px;
    border-bottom: 0.5px solid rgba(140,138,138,0.15); 
    z-index: 100;
}
.corner_menu:hover {
    transform: translate(-8px, 0px);
    transition: all 0.5s ease-in-out;
                        }
.modal_btn:hover {background-color:rgba(167,201,230,0.3);}

.modal_btn {
    background-color:rgba(167,201,230,0.20); 
	border: none; 
    color: cadetblue; 
	padding: 50px 10px 13px;
	font-size: 0.8em;
    cursor: pointer;
}
.modal_btn img {margin-top: 10px;}

#share-options .modal_p {
    font-size: 1.5em; text-align: center;font-weight: bold;
    color: #F08F27;
	margin-top: 20px; margin-bottom: 15px;
}

#share-options .modal_pre {
    font-size: 1.1em; line-height: 1.8em;
    color:#393738; 
    text-align: center;
    padding-bottom: 15px;
	margin-top: 15px;
}



/*main 한영문글씨*/
#con_1 {
    position: absolute;
    top:260px;
    left: 100px;
    padding: 0;
    display: none;
}
#con_1 h1 {
    font-size: 1.6rem;  
    font-weight: 100;
    line-height: 170%;
    letter-spacing: -1.4px;
    text-align: left;
	color: #fff; 
    padding-left: 5px; 
    margin-bottom: 20px;
}
#con_1 .p_main {
    margin-bottom: 15px;
}



/*3종 div*/
article.article {
    position: absolute; 
    bottom: 0px; 
    width: 100%; 
    height: 300px;
    margin: 0 auto;
    z-index: 9;
}

.bottom-yellow	{position: absolute; top:755px; left:0px;
            width: 100vw;height: 250px;z-index: 10;
			border-bottom: 10px solid rgba(222,241,6,1.00); /*하단 노란line*/  }

article ul#main_idx { 
    position: absolute; 
    width: 100%; height: 300px; 
    list-style: none;
    display: flex; 
    justify-content:center;  
    align-items:flex-end;
}

#main_idx li {
    overflow: hidden;  
    width:335px; 
    margin-right: 4px;
    padding: 22px 20px; 
    box-sizing: border-box;
    text-align: left;
}
#main_idx li.div_01 {background:rgba(247,132,3,1.00);}
#main_idx li.div_02 {background:rgba(222,241,6,1.00);}
#main_idx li.div_03 {background:rgba(41,154,246,1.00);}

#main_idx li:after{
    display: block; 
    content: '';
    position: absolute; 
    bottom:0; left:20; 
    width:295px; height: 4px; 
    z-index: 15;
    background-color: #fff;  
    box-sizing: border-box;
}
#main_idx li h4 {
    font-size:1.4em; line-height: 170%;
    text-indent: 85px;
    
}
#main_idx li.div_01 h4 {
	background:url("../images/icon03.png") no-repeat;
    background-size: 45px 45px;
	background-position: 15px -6px;
}
#main_idx li.div_02 h4 {
	background:url("../images/icon04.png") no-repeat;
    background-size: 45px 45px;
	background-position: 15px -1px;
}
#main_idx li.div_03 h4 {
	background:url("../images/icon02.png") no-repeat;
	background-size: 49px 49px;
	background-position: 15px -5px;
}

#main_idx li.div_01 p, #main_idx li.div_02 p, #main_idx li.div_03 p {
    text-align: left;
    line-height: 1.6rem; 
    font-size: 1.1rem; 
    text-indent: 85px; 
}
h4, p{color: #fff;}

#main_idx li.div_01 #btn_1, #main_idx li.div_02 #btn_2, #main_idx li.div_03 #btn_3 {
    margin:20px 0px 12px 80px; 
    border: none;
    background-color:#fff;
    padding: 10px 20px; 
    font-size: 1.1em;
    opacity: 1;
    cursor: default; 
}

#main_idx li.div_01 #btn_1{color: rgba(247,132,3,1.00)}
#main_idx li.div_02 #btn_2{color: rgba(222,241,6,1.00);}            
#main_idx li.div_03 #btn_3{color: rgba(41,154,246,1.00);}



/*하단 4개 상자들*/
.aside {width: 100%;height: 400px;
            position: relative;top:0;
            background: #fff;}
    
#sec_3{
    position:relative;
    width: 800; height: 550px; 
    margin: 0 auto;
    padding-top: 108px;
    text-align: center;
}
#sec_3 .flex_p1{
    font-size: 3em; line-height: 2.2em;
    font-weight: 800; text-align: center;
    color:rgba(58,59,59,1.00);
}
#sec_3 .p2{font-size: 1.3em;line-height: 1.7em; font-weight: 200;margin-top: 22px;}













#sec_1 {
    position: relative;
    top: 0; left: 0;
    width: 100%; height:880px;
    background:url("../images/photo-1475.jpg") no-repeat;
    background-size: cover;
    background-position: center top;
    z-index: -1;
}

#sec_2 {
    position: relative;
    top: 0px; left: 0;
}
