@charset "UTF-8";
/* mediaquery_jkaweb_cha */

@media only screen and (max-width : 980px){
    .ul_main {display: none;}
    
    #share-options .modal_pre {font-size: 1em;}
    .ul_warp li {width:30%;}
    .ul_warp li h4 {
        font-size:1em;
        padding: 5px 0;
        text-indent: 65px;
    }
    .li01 #btn_1, .li02 #btn_2, .li03 #btn_3 {
        font-size: 1em;
        margin: 20px 0 0 25px;
    }
    .ul_warp .li01 p, .ul_warp .li02 p, .ul_warp .li03 p {font-size: 0.9em;}
    
    .ul_warp .li01 p, .ul_warp .li02 p, .ul_warp .li03 p {display: none;}
    
    .back_wrap {height:791px;}
    #sec_1 {height: 670px;}
    
    #sec_3 .flex_p1 {font-size: 2.1em;}
    #sec_3 .pp02 .p03 {font-size: 1.3em;line-height: 2;}
    
    #flexbox {flex-wrap: wrap;}
    .flexbox-item {width: 47%;}
    
    #prices_back{
        height: auto;
        padding: 0px;
        margin-top: 50px;
    }
    .prices {
        width: 100%;
        flex-wrap: wrap;
        justify-content:center;
    }
    .price-item {width: 35%;margin: 25px;}
    .price-item-title span {font-size: 0.95rem;}
    .price-item-sub{
        font-size: 0.9rem;
        padding: 30px 10px;
    }
}


    
@media only screen and (max-width : 500px){
    .corner_menu {display: none;}
    #con_1 {
        top: 130px;
        left: 20px;
    }
    
    #con_1 .h1_main {font-size: 1.2rem;}
    #con_1 .p_main img {
        width: 90%;
    }
    .ul_warp li:after{width:20%;}
    .ul_warp .li01 h4, .ul_warp .li02 h4, .ul_warp .li03 h4,
    .ul_warp .li01 p, .ul_warp .li02 p, .ul_warp .li03 p {display: none;}
    
    .li01 #btn_1, .li02 #btn_2, .li03 #btn_3 {
        font-size: 0.7em;
        margin: 0;
        padding: 5px;
    }
    
    .back_wrap {height:691px;}
    #sec_1 {height: 570px;}
    
    #sec_3 {
        width: 90%;
        padding-top: 68px;
        height: 450px;
    }
    #sec_3 .flex_p1 {font-size: 1.4em;}
    #sec_3 .pp02 {font-size: 0.9em;}
    
    #sec_3 .pp02 .p04{font-size: 1.1em;line-height: 2;}
    
    .flexbox-item {height: 300px;}
    .flexbox-item .p3 {font-size: 0.9em;}
    .flexbox-item .p4{font-size: 0.7em;}
    
    #prices_back{height: auto;}
    .price-item {
        width: 43%;
        height: 300px; 
        margin: 10px;
    }
    .price-item-sub{
        padding: 20px;
    }
}

@media only screen and (max-width : 380px){
    #sec_3 .flex_p1 {font-size: 1.2em;}
    #sec_3 .pp02 {font-size: 0.8em;}
    #sec_3 .pp02 .p04{font-size: 0.9em;}
    
    .flexbox-item .p3 {font-size: 0.7em;}
    .flexbox-item .p4{font-size: 0.6em;}
    
    .price-item-title span {font-size: 0.85rem;}
    .price-item-sub{font-size: 0.8rem;}
    
    .nav #main_logo {
        left: 75px;
    }
}



















